{% extends 'RdgSoccerBundle::layout_1kol.html.twig' %} 

{% block main %}
    <h1>Speler</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Achternaam</th>
                <td>{{ entity.achternaam }}</td>
            </tr>
            <tr>
                <th>Voorvoegsel</th>
                <td>{{ entity.voorvoegsel }}</td>
            </tr>
            <tr>
                <th>Voornaam</th>
                <td>{{ entity.voornaam }}</td>
            </tr>
            <tr>
                <th>Geboorteplaats</th>
                <td>{{ entity.geboorteplaats }}</td>
            </tr>
            <tr>
                <th>Gewicht</th>
                <td>{{ entity.gewicht }}</td>
            </tr>
            <tr>
                <th>Fctwentesinds</th>
                <td>{{ entity.fctwenteSinds }}</td>
            </tr>
            <tr>
                <th>Vorigeclubs</th>
                <td>{{ entity.vorigeClubs }}</td>
            </tr>
            <tr>
                <th>Positie</th>
                <td>{{ entity.positie }}</td>
            </tr>
            <tr>
                <th>Clubnatwente</th>
                <td>{{ entity.clubNaTwente }}</td>
            </tr>
            <tr>
                <th>Clubsid</th>
                <td>{{ entity.clubsId.clubnaam }}</td>
            </tr>
            <tr>
                <th>Landid</th>
                <td>{{ entity.landId.land }}</td>
            </tr>
            <tr>
                <th>Geboortedag</th>
                <td>{{ entity.geboortedag }}</td>
            </tr>
            <tr>
                <th>Geboortemaand</th>
                <td>{{ entity.geboortemaand }}</td>
            </tr>
            <tr>
                <th>Geboortejaar</th>
                <td>{{ entity.geboortejaar }}</td>
            </tr>
            <tr>
                <th>Lengte</th>
                <td>{{ entity.lengte }}</td>
            </tr>
            <tr>
                <th>Rugnr</th>
                <td>{{ entity.rugnr }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ entity.info }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ entity.foto }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions no-bullets">
        <li>
            <a href="{{ path('cms_speler_') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('cms_speler__edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
