{% extends 'RdgSoccerBundle::layout_1kol.html.twig' %} 

{% block main %}
    <h3>Wedstrijdsoort</h3>

    <table class="records_list">
        <thead>
            <tr>
                <th>Wedstrijdsoort</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cms_wedstrijdsoort__show', { 'id': entity.id }) }}">{{ entity.wedstrijdsoort }}</a></td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cms_wedstrijdsoort__show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cms_wedstrijdsoort__edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('cms_wedstrijdsoort__new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
